@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('fontfamily/LANENAR_-webfont.eot');
    src: url('fontfamily/LANENAR_-webfont.woff') format('woff'),
         url('fontfamily/LANENAR_-webfont.ttf') format('truetype'),
         url('fontfamily/LANENAR_-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
.kids{
    color:#C76B16; 
}

.titre{
    font-family: 'lane_-_narrowregular';
    font-size : 700%;
    margin-top : 1%;
}

.fontfamily{
    font-family: 'lane_-_narrowregular';
    font-size : 300%;
    margin-top : 1%;
}

html,body{
    height:100%;
}

body{
     background-color: #151314;
     overflow-x: hidden;

}

/*navbar*/
.blurflixnavbar{
    color:#C76B16;
    font-family: 'lane_-_narrowregular';
    font-size : 150%
}
a:link{
    color:white;
}

a:visited{
    color:white;
}

a:hover{
    text-decoration: none;
    color:#c76c16;
}

#signoutbutton:hover {
    cursor: pointer;
}

/* format des items du carousel */
#respcarou{
    width: 200px;
    height: 300px;
}
/*footer*/
.wordfooter{
    color:#151314;
}

footer{
    background-color:#c76c16;
    margin-top:2%;
}

/*jumbotron*/
.jumbotron{
    background-image: url("jumbotron.png");
    background-size: cover;
    background-repeat: no-repeat;
}

 /*Searchpage*/
 @media only screen and (max-width: 600px) {
    #searchInput{
        border: 1px solid #c76c16;;
        background-color: #151314;
        color:white;
        font-size:60%;
    }
    #searchTitle{
        font-size:150%;
    }

    /* format des items du carousel */
    #respcarou{
     width: 100px;
     height: 150px;
    }
  }

#searchInput{
    border: 1px solid #c76c16;;
    background-color: #151314;
    color:white;
}

/*Search*/
#searchTitle{
    margin:0;
}


/* Manage your account */

.flexaccount{
    display : flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.buttonconfirm{
    background-color:#c76c16;
}

/*Confirm box*/
.swal-title {
   font-family: 'lane_-_narrowregular';
  }

.swal-button--confirm {
    background-color:#c76c16 ;
}

.swal-button--confirm:hover {
    background-color:white;
    color:black;

}

/*VIDEO*/
.videocontainer{
    height:100%;
    width: 100%;
}

.iframecontainer{
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
} 

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*Movies & TV-Shows*/
.btngenres:hover{
    border-color:#c76c16;
    color:white;
}

.tvshowORmovies{
    min-height:60%;
    margin:0 auto;
    position:relative;
}

.footertvshowmovies{
    position:relative;
    width:100%;
}


