@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('fontfamily/LANENAR_-webfont.eot');
    src: url('fontfamily/LANENAR_-webfont.woff') format('woff'),
         url('fontfamily/LANENAR_-webfont.ttf') format('truetype'),
         url('fontfamily/LANENAR_-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
.kids{
    color:#C76B16; 
}

.titre{
    font-family: 'lane_-_narrowregular';
    font-size : 700%;
    margin-top : 1%;
}

.fontfamily{
    font-family: 'lane_-_narrowregular';
    font-size : 300%;
    margin-top : 1%;
}

html,body{
    height:100%;
}

body{
     background-color: #151314;
     overflow-x: hidden;

}
/*Carousel*/



/*navbar*/
.blurflixnavbar{
    color:#C76B16;
    font-family: 'lane_-_narrowregular';
    font-size : 150%
}
a:link{
    color:white;
}

a:visited{
    color:white;
}

a:hover{
    text-decoration: none;
    color:#c76c16;
}

#signoutbutton:hover {
    cursor: pointer;
}
/*footer*/
.wordfooter{
    color:#151314;
}

footer{
    background-color:#c76c16;
    margin-top:10%;
}

/*jumbotron*/
.jumbotron{
    background-image: url("jumbotron.png");
    background-size: cover;
    background-repeat: no-repeat;
}

 /*Searchpage*/
 @media only screen and (max-width: 600px) {
    #searchInput{
        border: 1px solid #c76c16;;
        background-color: #151314;
        color:white;
        font-size:60%;
    }
    #searchTitle{
        font-size:150%;
    }
  }

#searchInput{
    border: 1px solid #c76c16;;
    background-color: #151314;
    color:white;
}

/*Search*/
#searchTitle{
    margin:0;
}


/* Manage your account */

.flexaccount{
    display : flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.buttonconfirm{
    background-color:#c76c16;
}

/*Confirm box*/
.swal-title {
   font-family: 'lane_-_narrowregular';
  }

.swal-button--confirm {
    background-color:#c76c16 ;
}

.swal-button--confirm:hover {
    background-color:white;
    color:black;

}

/*VIDEO*/
.videocontainer{
    height:100%;
}


/*Movies & TV-Shows*/
.btngenres:hover{
    border-color:#c76c16;
    color:white;
}

/* style du Commentaire */
.pb-cmnt-container {

    margin-top: 100px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}


.button {
    background: #C76B16;
    border: none;
    border-radius: 25px;
    color: snow; 
    cursor: pointer;
    font-size: 1em;
    letter-spacing: .1em;
    outline: none;
    padding: .75em 2em;
    position: relative; 
    text-transform: uppercase;
  }

  .button::before {
    background: #e7f0e7;
    border-radius: inherit;
    content: '';
    filter: blur(10px); // Controls the extent of the initial glow
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1; // Set behind primary button
  }

  .button:hover::before {
    filter: blur(20px); // Increases the extent of the glow on hover
    opacity: 1;
  }

  @keyframes glow {
    0% {
      background: $color-primary;
    }
    25% {
      background: $color-primary-light;
    }
    100% {
      background: $color-primary;
    }
  }