@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('fontfamily/LANENAR_-webfont.eot');
    src: url('fontfamily/LANENAR_-webfont.woff') format('woff'),
         url('fontfamily/LANENAR_-webfont.ttf') format('truetype'),
         url('fontfamily/LANENAR_-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body{
    height: 100%;
}

h1{
    color: #C76B16;
    font-size : 700%;
    margin-top : 1%;
    font-family: 'lane_-_narrowregular';
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2015/09/09/20/23/night-933094_1280.jpg");
    background-attachment: fixed;
    background-size: cover;
}


/* style du formulaire */
.form-container{
    background-color: rgb(26,25,31,0.7);
    padding:30px;
    margin-top : 10%;
    margin-bottom : 10%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
    width: 400px;
    color: #ffffff;
}

a:link{
  color:#C76B16;
}

a:visited{
    color:#C76B16;
}

.buttonindex{
    background-color:#C76B16;
    color: white;
}

/*footer*/
footer{
    height: 100%;
    background-color: rgb(26,25,31,0.7);
}

.wordfooter{
    color: #C76B16;
}

/*flexbox*/
.page{
    flex-grow: 1;
}

.flexboxtest{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:0;
}

.paddingfix{
    padding : 0;
}